@import '../base';
@import '../helpers';

// --------------------------------------------
//                About Us Texts
// --------------------------------------------
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    @include container;
    margin-bottom: 4.75rem;

    .col-1,
    .col-2 {
        text-align: center;
    }

    .col-1 {
        & > .title {
            margin-bottom: 1rem;
            @include h4;
        }

        & > .text {
            color: $secondary-gray;
        }
    }

    .col-2 {
        & > .title {
            margin-bottom: 1rem;
            @include h4;
        }

        & > .text {
            color: $secondary-gray;
        }
    }

    @include tablet-mq {

        .col-1,
        .col-2 {
            display: grid;
            grid-template-columns: 15rem 1fr;
            width: 100%;
        }

        .col-1 > .title,
        .col-2 > .title {
            @include h3-big;
        }

        .col-1 {
            & > .title,
            & > .text {
                text-align: left;
            }
        }

        .col-2 {
            & > .title,
            & > .text {
                text-align: left;
            }
        }
    }
}

// --------------------------------------------
//                    Banner
// --------------------------------------------
.banner {
    margin-bottom: 3rem;
    width: 100%;
}

// --------------------------------------------
//              Social Proof Section
// --------------------------------------------
.social-proof {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-block: 1.2rem;
    margin-bottom: 5rem;

    & > .col {
        text-align: center;
    }

    &__label {
        color: $secondary-opaque;
        font-size: 1.05rem;
        margin-bottom: 1rem;
    }

    &__number {
        @include h1-small;
        color: $primary-accent;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 90%;
        height: 1px;
        left: 5%;
        background-color: $secondary-opaque;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    @include tablet-mq {
        flex-direction: row;
        gap: 1rem;
        @include container;

        & > .col {
            width: 100%;
            border-top: 1px solid $secondary-opaque;
            border-bottom: 1px solid $secondary-opaque;
            padding-top: 2.6rem;
            padding-bottom: 1rem;
            text-align: left;
        }

        &::after,
        &::before {
            display: none;
        }
    }
}