@import '../base';
@import '../helpers';
// ------------------------------------------------
//                      Hero
// ------------------------------------------------
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include container;
    margin-bottom: 5rem;

    &__img {
        max-width: 16rem;
        margin-left: 2rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        
        & > h1 {
            @include h3-big;
            font-weight: 500;
            margin-bottom: 1.5rem;
        }

        &__input {
          border: none;  
          height: 3rem;
          border-radius: 3rem;
          padding: 0 1rem;
          margin-bottom: 1rem;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

          &::placeholder {
            font-family: $ff-public-sans;
            font-size: 0.9rem;
            font-weight: 700;
            color: $secondary-opaque;
            background-color: $primary;
          }
        }

        & .btn {
            margin-bottom: 1.5rem;
        }

        &__message {
            @include body-text;
        }
    }

    @include tablet-mq {
        &__form {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: auto 3rem auto;
            gap: 1.5rem;
            max-width: 37rem;

            & > h1 {
                @include h2;
                grid-column: 1 / -1;
                grid-row: 1 / 2;
            }

            &__input {
                grid-column: 1 / -1;
                grid-row: 2 / 3;
            }

            & .btn {
                height:  3rem;

                grid-column:  4 / -1;
                grid-row: 2 / 3;
            }

            &__message {
                grid-column: 1 / -1;
                grid-row: 3 / 4;
            }
        }
    }

    @include pc-mq {
        flex-direction: row;
        justify-content: space-around;

        &__img {
            order: 2;
            max-width: 100%;
        }

        &__form {
            max-width: 35rem;
            & > h1 {
                @include h1-big;
                margin-bottom: 2rem;
            }
        }
    }
}

// ------------------------------------------------
//                     Partners
// ------------------------------------------------
.partners {
    position: relative;
    background-color: $secondary-dark;
    color: $primary;
    padding: 5rem 1.5rem;
    margin-bottom: 5rem;
    overflow: hidden;

    &-logo__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        gap: 2.5rem;
        @include container;
        margin-bottom: 3.5rem;
    }

    &__content {
        text-align: center;

        &__title {
            @include h3-big;
            margin-bottom: 1rem;
        }

        &__text {
            @include body-text;
            color: $primary-opaque;
            margin-bottom: 2rem;
        }

        & .btn {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &::after {
        content: url('../../assets/shared/desktop/bg-pattern-circle.svg');
        position: absolute;
        bottom: 70%;
        left: 50%;
        transform: translateX(-50%);
    }

    @include tablet-mq {
        &-logo__container {
            grid-template-columns: repeat(3, 1fr);
        }
        &__content {
            @include container;

            &__title {
                @include h2;
            }
        }
    }

    @include pc-mq {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        padding-inline: 10rem;

        &__content {
            text-align: left;

            & > .btn {
                margin-left: 0;
            }
        }

        &-logo__container {
            order: 2;
            align-content: center;
            margin-bottom: 0;
        }

        &::after {
            bottom: 10%;
            left: 10%;
        }
    }
}

// ------------------------------------------------
//                 2 Column Container
// ------------------------------------------------
.two-col-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include container;
    margin-bottom: 5rem;

    &__title {
        @include h3-big;
        margin-bottom: 1.5rem;
    }

    &__img {
        margin-left: 1.5rem;
    }

    &__text {
        @include body-text;
        color: $secondary-gray;
    }

    @include tablet-mq {
        margin-bottom: 7rem;

        &__title {
            @include h2;
        }

        &__text {
            max-width: 35rem;
        }

        &__img {
            margin-left: 3rem;
        }
    }

    @include pc-mq {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &__content {
            text-align: left;
            min-width: 27rem;
        }

        &.first {
            margin-bottom: 2rem;
        }

        &.second &__img{
            order: 2;
        }

        &.second {
            margin-top: 5rem;
        }
    }
}

// ------------------------------------------------
//                 3 Column Container
// ------------------------------------------------
.three-col-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    @include container;
    margin-bottom: 5rem;

    & > .col-1,
    & > .col-2,
    & > .col-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > img {
            margin-bottom: 2rem;
        }

        & > h2 {
            font-weight: 700;
            font-size: 1.125rem;
            letter-spacing: -0.14px;
            margin-bottom: 1rem;
        }

        & > p {
            text-align: center;
            color: $secondary-gray;
        }
    }

    @include tablet-mq {
        flex-direction: row;
        align-items: flex-start;
    }
}

// ------------------------------------------------
//       Circle in the Second 2-Column Layout
// ------------------------------------------------
.circle-wrapper {
    @include pc-mq {
        overflow-x: hidden;
        position: relative;

        &::after {
            content: url('../../assets/shared/desktop/bg-pattern-circle.svg');
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            bottom: 0;
            left: 75%;
        }
    }

    @media only screen and (min-width: 1850px) {
        &::after {
            left: 60%;
        }
    }
}

