@import '../base';
@import '../helpers';

// --------------------------------------------
//                Pricing Tables
// --------------------------------------------
.pricing-tables-container {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    @include container;

    @include tablet-mq {
        flex-direction: row;
        gap: 3rem;
    }

    @media only screen and (min-width: 601px) and (max-width: 767px) {
        gap: 0;   
    }
}

.pricing-table {
    margin-bottom: 5rem;

    &__title {
        color: $primary-accent;
        text-align: center;
        margin-bottom: 0.9rem;
        @include h4;
    }

    &__text {
        @include body-text;
        text-align: center;
        color: $secondary-gray;
        margin-bottom: 1.3rem;
    }

    &__price {
        position: relative;
        @include h1-small;
        text-align: center;
        padding-bottom: 1rem;
        margin-bottom: 2rem;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 1px;
            background-color: $secondary-opaque;
        }
    }

    &__list {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        padding-bottom: 1.5rem;
        margin-bottom: 2rem;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 1px;
            background-color: $secondary-opaque;
        }
    }

    &__item {
        font-size: 1rem;
        font-weight: 500;
        color: $secondary;
        margin-left: auto;
        margin-right: auto;
        min-width: 10rem;
        
        &::before {
            content: url('../../assets/shared/desktop/icon-check.svg');
            margin-right: 1rem;
        }

        &.not-marked {
            color: $secondary-opaque;
            font-weight: 300;

            &::before {
                opacity: 0;
            }
        }
    }

    .btn {
        margin-left: auto;
        margin-right: auto;
    }
}
