@import '../helpers';
@import '../base';

// ------------------------------------------------
//                 Call to Action
// ------------------------------------------------
.call-to-action {
    display: flex;
    flex-direction: column;
    @include container;
    @include margin-bottom(5);

    &__title {
        @include h3-big;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__input {
        border: none;  
        height: 3rem;
        border-radius: 3rem;
        padding: 0 1rem;
        margin-bottom: 1rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

        &::placeholder {
            font-family: $ff-public-sans;
            font-size: 0.9rem;
            font-weight: 700;
            color: $secondary-opaque;
            background-color: $primary;
          }
    }
}

