@import '../base';
@import '../helpers';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    @include container;
    margin-bottom: 2rem;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;

    &__list {
        display: none;

        @include tablet-mq {
            display: flex;
            align-items: center;
            gap: 1.3rem;
            width: 100%;
        }
    }

    &__item:last-child,
    &__item:first-child {
        margin-left: auto;
    }

    &__link {
        @include body-text;
        font-weight: 700;
        color: $secondary;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }


}

.mobile-nav {
    &__btn {
        display: block;
        font-size: 1.3rem;
        margin-left: auto;
        cursor: pointer;
    }

    @include tablet-mq {
        &__btn {
            display: none;
        }   
    }
}